.profile {
    height: 100vh;
    color: white;
}

.profile_body {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    max-width: 800px;
}

.profile_info {
    display: flex;
}

.profile_info>img {
    width: 100px;
    border-radius: 100%;
    border: 2px solid white;
}

.profile_body>h1 {
    font-size: 60px;
    font-weight: 400;
    border-bottom: 1px solid #282c3d;
    margin-bottom: 20px;
}

.profile_details {
    color: white;
    margin-left: 25px;
    flex: 1;
}

.profile_details>h2 {
    background-color: gray;
    padding: 15px;
    font-size: 15px;
    padding-left: 20px;
}

.profile_signout {
    padding: 10px 20px;
    font-size: 1rem;
    position: fixed;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: red;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 5%;
}

.profile_plas {
    margin-top: 20px;
}

.profile_plas>h3 {
    border-bottom: 1px solid #282c3d;
    padding-bottom: 10px;
}