.nav {
    position: fixed;
    top: 0;
    padding: 40px;
    width: 100%;
    z-index: 1;
    animation-timing-function: ease-in;
    transition: all 0.5s;
}

.nav_content {
    display: flex;
    justify-content: space-between;
}

.nav_logo {
    position: fixed;
    top: 20px;
    width: 143px;
    object-fit: contain;
    padding-left: 20px;
    cursor: pointer;
}

.nav_avatar {
    position: fixed;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    top: 10px;
    cursor: pointer;
    border: 2px solid white;
}

.nav_black {
    background-color: black;
}