.login {
    position: relative;
    height: 100%;
    background: url("https://www.desktopbackground.org/download/o/2011/03/30/180042_custom-netflix-wallpapers-2015-part-6-by-espioartwork-102-on-deviantart_1024x628_h.jpg") center no-repeat;
    background-size: cover;
}

.logo_login {
    position: fixed;
    left: 0;
    width: 150px;
    object-fit: contain;
    padding-left: 20px;
    padding-top: 20px;
}

.login_button {
    position: fixed;
    right: 20px;
    top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: red;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.login_gradient {
    width: 100%;
    z-index: 1;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient( to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
}

.login_body {
    z-index: 1;
    color: white;
    padding: 20px;
    position: absolute;
    top: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    left: 0;
    right: 0;
}

.login_body>h1 {
    font-size: 3.125rem;
    margin-bottom: 20px;
}

.login_body>h2 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.login_body>h3 {
    font-size: 1.3rem;
    font-weight: 400;
}

.login_input>form>input {
    padding: 10px;
    outline-width: 0;
    height: 30px;
    width: 30%;
    border: none;
    max-width: 600px;
}

.button_getstarted {
    padding: 16px 20px;
    font-size: 1rem;
    color: white;
    background-color: red;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.login_input {
    margin: 20px;
}