.signup {
    max-width: 300px;
    padding: 70px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0, 0, 0, 0.85);
}

.signup>form {
    display: grid;
    flex-direction: column;
}

.signup>form>input {
    outline-width: 0;
    height: 40px;
    margin-bottom: 14px;
    border-radius: 5px;
    border: none;
    padding: 5px 15px;
}

.signup>form>h1 {
    text-align: left;
    margin-bottom: 25px;
}

.signup>form>h4 {
    text-align: left;
    margin-top: 30px;
}

.signup_gray {
    color: gray;
}

.signup>form>button {
    padding: 16px 20px;
    font-size: 1rem;
    color: white;
    border-radius: 5px;
    background-color: red;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.signup_link:hover {
    cursor: pointer;
    text-decoration: underline;
}